params {
    input_path = null
}

docker.enabled = true


profiles {
    local {
        process.executor = 'local'
        docker.runOptions = '--user $(id -u):$(id -g)'
    }
    server {
        process.executor = 'local'
        conda.enabled = true
    }
}



outputDir = "${baseDir}/../ChinaTown"
workflow.output.mode = 'copy'
