params {
    input_csv = null
    ref_fasta = "${baseDir}/contract/ref_genome/mm39.fa"
    ref_gtf = "${baseDir}/contract/ref_genome/mm39.gtf"
}


profiles {
    local {
        process.executor = 'local'
        docker.runOptions = '--user $(id -u):$(id -g)'
    }
    server {
        process.executor = 'local'
        conda.enabled = true
    }
}



outputDir = "${baseDir}/../ChinaTown"
workflow.output.mode = 'copy'
