params {
    intput_path = null
}

docker.enables = true


profiles {
    local {
        process.executor = 'local'
        docker.runOptions = '--user $(id -u):$(id -g)'
    }
    server {
        process.executor = 'local'
        docker.runOptions = '--user root'
    }
}



outputDir = "${baseDir}/../ChinaTown"
workflow.output.mode = 'copy'
