params {
    input_csv = "${baseDir}/contract/input.csv"
    ref_fasta = "${baseDir}/contract/ref_genome/mm39.fa"
    ref_gtf = "${baseDir}/contract/ref_genome/mm39.gtf"
    star_ignore_sjdbgtf = false
    chr_list = "${baseDir}/contract/chromosomes.txt"
    combination_mode = "or"
    min_control_coverage = 10
    max_control_edit_frac  = 0.005
    min_control_non_g_frac = 0.8
    min_rna_coverage = 20
    min_rna_edit_frac = 0.005
    edit_threshold = 0.05
    comparisons_csv = "${baseDir}/contract/comparisons.csv"
    umi = true
    skip_umiextract = true
    skip_trimming = true
}

