process {
    cpus = 4
    memory = '16 GB'


    withLabel: 'process_low' {
        cpus = 4
        memory = '16 GB'
    }
    withLabel: 'process_medium' {
        cpus = 16
        memory = '64 GB'
    }
    withLabel: 'process_high' {
        cpus = 32
        memory = '128 GB'
    }
    withName: 'STAR_GENOMEGENERATE' {
        cpus = 16
        memory = '128 GB'
    }
    // MD CANNOT be excluded, sam_to_map depends on it and will crash
    withName: 'STAR_ALIGN' {
        ext.args = '--outSAMtype SAM --outSAMattributes NH HI AS nM MD'
    }
    withName: 'SAM_TO_MAP' {
        container = null
    }
    withName: 'BEDTOOLS_INTERSECT' {
        ext.prefix = { "${meta.id}_annotated" }
        ext.suffix = 'tsv'
        ext.args   = '-wa -wb'
    }
}

