process {
    cpus = 4
    memory = '16 GB'


    withLabel: 'process_low' {
        cpus = 4
        memory = '16 GB'
    }
    withLabel: 'process_medium' {
        cpus = 16
        memory = '64 GB'
    }
    withLabel: 'process_high' {
        cpus = 32
        memory = '128 GB'
    }
    withName: 'CUTADAPT' {
        ext.args = [
                '--trim-n',
                '--match-read-wildcards',
                '-n 4',
                '-u 15',
                '-a GATCGGAAGAGCACACGTCTGAACTCCAGTCAC',
                '-a CCAAGTCT',
                '-a ATCTCGTATGCCGTCTTCTGCTTG',
                '-a GGGGGGGGGG',
                '-a AAAAAAAAAA',
                '-A TTTTTTTTTT',
                '-e 0.2',
                '-j 0',
                '--nextseq-trim=20',
                '-m 40:40'
            ].join(' ')
    }
    withName: 'UMITOOLS_EXTRACT' {
        ext.args   = '--bc-pattern=NNNNNNNNNNNNNNNN'  // user should override this per protocol
    }
    withName: 'STAR_GENOMEGENERATE' {
        cpus = 16
        memory = '128 GB'
    }
    // MD CANNOT be excluded, sam_to_map depends on it and will crash
    withName: 'STAR_ALIGN' {
        ext.args = '--outSAMtype BAM SortedByCoordinate --outSAMattributes NH HI AS nM MD'
    }
    withName: 'SAMTOOLS_NAMESORT' {
        ext.args = '-n'
        ext.prefix = { "${meta.id}_namesorted" }
    }
    withName: 'SAMTOOLS_MARKDUP' {
        ext.args   = '-r'  // -r removes duplicates rather than just marking them
    }
    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}_coordsorted" }
    }
    withName: 'SAMTOOLS_VIEW' {
        ext.args   = '-O sam'
        ext.prefix = { "${meta.id}" }
    }
    withName: 'SAM_TO_MAP' {
        container = null
    }
    withName: 'BEDTOOLS_INTERSECT' {
        ext.prefix = { "${meta.id}_annotated" }
        ext.suffix = 'tsv'
        ext.args   = '-wa -wb'
    }
}

