profiles {
    local {
        process.executor = 'local'
        docker.runOptions = '--user $(id -u):$(id -g)'
    }
    server {
        process.executor = 'local'
        conda.enabled = true
        executor.cpus = 60
        executor.memory = '400 GB'
    }
    singularity {
        enabled    = true
        autoMounts = true
        cacheDir   = "${projectDir}/containers/cache"
        runOptions = '--unsquash'
    }
    docker {
        docker.enabled         = true
        docker.runOptions      = '--user $(id -u):$(id -g)'
    }
}
