params {
    // test profile using HyperTRIBE validation dataset (GSE102814)
    // Drosophila dm6, single-end reads
    // SRR5944748, SRR5944749 = HyperTRIBE replicates
    // SRR6426146 = wtRNA control
    // SRR5944750 = HyperADARcd background
    input_csv              = "${baseDir}/contract/test/input.csv"
    ref_fasta              = "${baseDir}/contract/test/ref_genome/dm6.fa"
    ref_gtf                = "${baseDir}/contract/test/ref_genome/dm6.ensGene.gtf"
    chr_list               = "${baseDir}/contract/test/chromosomes.txt"
    comparisons_csv        = "${baseDir}/contract/test/comparisons.csv"
    star_ignore_sjdbgtf    = false
    combination_mode       = "and"
    umi                    = false
    min_control_coverage   = 9
    max_control_edit_frac  = 0.005
    min_control_non_g_frac = 0.8
    min_rna_coverage       = 20
    min_rna_edit_frac      = 0.10
    edit_threshold         = 0.10
}
